<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youotech.dao.CjModelMapper" >
  <resultMap id="BaseResultMap" type="com.youotech.entity.CjModel" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPESET_ID" property="typesetId" jdbcType="DECIMAL" />
    <result column="DEL" property="del" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, TYPESET_ID, DEL
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SDTZ_TB_CJ
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SDTZ_TB_CJ
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.youotech.entity.CjModel" >
    insert into SDTZ_TB_CJ (ID, NAME, TYPESET_ID, 
      DEL)
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{typesetId,jdbcType=DECIMAL}, 
      #{del,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.youotech.entity.CjModel" >
    insert into SDTZ_TB_CJ
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="typesetId != null" >
        TYPESET_ID,
      </if>
      <if test="del != null" >
        DEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="typesetId != null" >
        #{typesetId,jdbcType=DECIMAL},
      </if>
      <if test="del != null" >
        #{del,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youotech.entity.CjModel" >
    update SDTZ_TB_CJ
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="typesetId != null" >
        TYPESET_ID = #{typesetId,jdbcType=DECIMAL},
      </if>
      <if test="del != null" >
        DEL = #{del,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youotech.entity.CjModel" >
    update SDTZ_TB_CJ
    set NAME = #{name,jdbcType=VARCHAR},
      TYPESET_ID = #{typesetId,jdbcType=DECIMAL},
      DEL = #{del,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  
  <select id="getList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SDTZ_TB_CJ
  </select>
</mapper>